img {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

body {
    background-color: paleturquoise;
    margin: 8px;
    display: block;
}

p {
    padding: 90px;
    padding-top: 10px;

}

 #Adao {
    color: darkslateblue;
 }

 #Jaani {
    color: indigo;
 }

 #Thena {
    color:darkviolet;
 }

 .p {
    border: 4px dotted brown;
 }

 #mainHeading {
    color: red;
 }

 .funParagraph {
    color: green;
 }